@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --white: #FFFFFF;
    --black: #000000;

    --bg-alert: #ccffff; /* light blue */
    --bg-links: #cccccc; /* gray */

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid var(--black);*/
}

body {
    margin: 15px;
    font-family: Poppins, Serif, sans-serif;
    font-size: .8rem;
}

h1 {
    display: flex;
    justify-content: center;

    font-size: 2rem;
}

.alert-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: var(--bg-alert);
    padding: 10px;
    border: 2px solid var(--bg-links);
    max-width: 100%;
    margin: auto;
}

.alert-info a {
    text-decoration: none;
    color: var(--black);
}

nav {
    width: 100%;
}

.nav-links {
    width: 100%;
    align-content: center;
}

li {
    display: flex;
    justify-content: center;

    list-style: none;
    background-color: var(--bg-links);
    margin: 10px 0;
    padding: 10px;

}

.header-img img {
    margin: auto;
    max-width: 100%;
    padding-bottom: 15px;
}

.sub-section {
    font-style: italic;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 40px 5px 0 0; /* find alternative to padding */
}

i {
    color: black;
    font-size: 1.5rem;
}

/* medium and up */
@media only screen and (min-width: 768px) {

    .hidden-on-desktop {
        display: none;
    }

    h1 {
        display: inline;

        float: left;

        max-width: 40%;

    }

    nav {
        display: flex;

        float: right;
    }

    ul.nav-links li {
        display: inline-block;

        float: right;

        position: relative;
        bottom: 40px;
    }

    li {
        background-color: var(--white);
    }

    .main {
        float: left;

        max-width: 60%;
        margin-right: 25px;
        margin-bottom: 30px;
    }
    section{
        margin-top: 2%;
    }
    footer{
        margin-top: 10%;
    }

}


/*



1: need more whitespace between <section> and <footer>
    - see footer above in mobile

2: footer breaks around 1020 width
    - image breaks here, also, so probably not necessary for exercise


*/
